= form_for(:session, url: sessions_path, class: "form-signin") do |f|
  %h2.form-signin-heading Please sign in
  %div
    = f.label :email
    = f.email_field :email, :placeholder => "oski@gmail.com"
  %div
    = f.label :password
    = f.password_field :password, :placeholder => "Password"
  %div
    = f.submit "Sign in", class: "btn btn-primary"
%p
  New user? #{link_to "Sign up now!", signup_path}