.container
  = form_for @user, :url => password_reset_path(params[:id]) do |f|
    - if @user.errors.any?
      .error_messages
        %h2 Form is invalid
        %ul
          - for message in @user.errors.full_messages
            %li= message

    #password.form-group
      = f.label :password, :class => "control-label reserve-label"
      .reserve-input
        = f.password_field :password
      
    #password-confirmation.form-group
      = f.label :password_confirmation, :class => "control-label reserve-label"
      .reserve-input
        = f.password_field :password_confirmation
    .actions= f.submit "Update Password"