.container
  = render 'shared/error_messages'

  = form_for @user, :html => {:multipart => true} do |f|
    %fieldset
      %legend Update Account
      #image.form-group
        = f.label :image, "Upload Profile", :class => "control-label reserve-label"
        .reserve-input
          = f.file_field :image

      #name.form-group
        = f.label :name, "Name", :class => "control-label reserve-label"
        .reserve-input
          = f.text_field :name

      #public-name.form-group
        = f.label :public_name, "Public Name", :class => "control-label reserve-label"
        .reserve-input
          = f.text_field :public_name
      
      #school.form-group
        = f.label :school, "School", :class => "control-label reserve-label"
        .reserve-input
          = f.text_field :school

      #year.form-group
        = f.label :year, "Class Year", :class => "control-label reserve-label"
        .reserve-input
          = f.collection_select :year, User::YEARS, :to_s, :to_s, :include_blank => true

      #major.form-group
        = f.label :major, "Major", :class => "control-label reserve-label"
        .reserve-input
          = f.text_field :major

      #github.form-group
        = f.label :github, "Github", :class => "control-label reserve-label"
        .reserve-input
          = f.text_field :github

      -if is_admin?
        #admin.form-group
          = f.label :admin, 'Admin Rights (Yes or No)', :class => "control-label reserve-label"
          .reserve-input
            = f.select :admin, {"Yes" => true, "No" => false}
    
    = submit_tag 'Update', :class => "btn btn-primary account-button"
    = link_to 'Back', :back, :class => "btn btn-default"
