%h1 Update Account

= form_for @user, :html => {:multipart => true} do |f|

  = f.label :image, "Upload Profile"
  = f.file_field :image

  = f.label :public_name, "Public Name"
  = f.text_field :public_name
  
  = f.label :school, "School"
  = f.text_field :school

  = f.label :year, "Year"
  = f.number_field :year

  = f.label :major, "Major"
  = f.text_field :major

  = f.label :github, "Github"
  = f.text_field :github

  -if is_admin?
    = label :user, :is_admin, 'Admin Rights (yes or no)'
    = text_field :user, 'is_admin'

  .form-actions
    = submit_tag 'Update', :class => "btn btn-primary"
    = link_to 'Back', user_path, :class => "btn"
