
-# new.html.haml using partial

%h1 Sign Up for an Account

= form_for @user do |new_user|
	= new_user.label :name, 'Name (e.g. John Smith)'
	#{new_user.text_field :name}

	= new_user.label :email, 'Email Address'
	#{new_user.text_field :email}

	= new_user.label :password, 'Password (at least 8 characters)'
	#{new_user.password_field :password}

	= new_user.label :password, 'Confirm your password'
	#{new_user.password_field :password}

	= submit_tag 'Sign up'

	/ = label :user, :email, 'Email'
	/ = text_field :user, 'email'

	/ = label :user, :password, 'Password'
	/ = password_field :user, 'password'

	/ = label :user, :password_confirmation, "Confirm your password"
	/ = password_field :user, 'password_confirmation'
  	
	/ = submit_tag 'Sign up'



