.container
  = render 'shared/error_messages'
  
  = form_for @user do |new_user|

    %h1 Sign Up for an Account
    
    %fieldset
      %legend Sign Up
      #name.form-group
        = new_user.label :name, 'Name (e.g. Oski Bear)', :class => "control-label reserve-label"
        .reserve-input
          = new_user.text_field :name, :placeholder => "Oski Bear"
      #email.form-group
        = new_user.label :email, 'Email Address', :class => "control-label reserve-label"
        .reserve-input
          = new_user.email_field :email, :placeholder => "Email address"
      #password.form-group
        = new_user.label :password, 'Password (at least 8 characters)', :class => "control-label reserve-label"
        .reserve-input
          = new_user.password_field :password, :placeholder => "Password"
      #password-confirmation.form-group
        = new_user.label :password_confirmation, 'Confirm your password', :class => "control-label reserve-label"
        .reserve-input
          = new_user.password_field :password_confirmation, :placeholder => "Password"
      #captcha.form-group
        = new_user.label :simple_captcha, "Enter the code in the box", :class => "control-label reserve-label"
        .reserve-input
          = show_simple_captcha
    #submit
      = new_user.submit "Sign Up", :class => "btn btn-default account-form-button"
