-# new.html.haml using partial

= form_for @user do |new_user|
	%h2.form-signin-heading Sign Up for an Account
	%div
		= new_user.label :name, 'Name (e.g. John Smith)'
		= new_user.text_field :name, :placeholder => "John Smith"
	%div
		= new_user.label :email, 'Email Address'
		= new_user.email_field :email, :placeholder => "Email address"
	%div
		= new_user.label :password, 'Password (at least 8 characters)'
		= new_user.password_field :password, :placeholder => "Password"
	%div
		= new_user.label :password_confirmation, 'Confirm your password'
		= new_user.password_field :password_confirmation, :placeholder => "Password"
	%div
		= new_user.submit "Sign Up", class: "btn btn-primary"


