
-# new.html.haml using partial

%h1 Sign Up for an Account

= form_tag users_path do

	= label :user, :name, 'First Name, Last Name'
	= text_field :user, 'name'

	= label :user, :email, 'Email'
	= text_field :user, 'email'

	= label :user, :password, 'Password'
	= password_field :user, 'password'

	= label :user, :password_confirmation, "Confirmation"
	= password_field :user, 'password_confirmation'
  	
%div 
	= submit_tag 'Sign up'



