%h1 Details about  #{@user.name}

%div
  -if is_admin?
    Admin:
    = @user.is_admin

= image_tag avatar_url(@user)

.hero-unit
  Email:
  = @user.email

  Public Name:
  = @user.public_name

  School:
  = @user.school


%div
  Class Year:
  = @user.year

  Major:
  = @user.major

  Github:
  = @user.github


%div
	- if is_admin? or is_user?
		= link_to "Edit Profile", edit_user_path, :class => "button"
		= link_to t('.back', :default => t("helpers.links.back")), '/users', :class => 'button secondary'
