%h1 Details about  #{@user.name}

/ <<<<<<< HEAD
/ %div
/ 	- if is_admin? or is_user?
/ 		Email:
/ 		= @user.email
%div
	-if is_admin?
		Admin:
		= @user.is_admin
= image_tag @user.image.to_s

%div
Email:
= @user.email

%div
Public Name:
= @user.public_name

%div
School:
= @user.school

%div
Year:
= @user.year

%div
Major:
= @user.major

%div
Github:
= @user.github

.form-actions
/ <<<<<<< HEAD
	- if is_admin? or is_user?
/ <<<<<<< HEAD
		= link_to "Change Password", edit_user_path, :class => "btn btn-primary"
	= link_to t('.back', :default => t("helpers.links.back")), '/users', :class => 'btn'
/ =======
  = link_to "Edit Profile", edit_user_path, :class => "btn btn-primary"
  = link_to t('.back', :default => t("helpers.links.back")), '/users', :class => 'btn'
  
/ >>>>>>> User-Profile-Carrierwave
/ =======
/ 		= link_to "Edit Your Profile", edit_user_path, :class => "btn btn-primary"
/ 	= link_to t('.back', :default => t("helpers.links.back")), '/users', :class => 'btn'
/ >>>>>>> 714af8f864a0adbc6b55176dd79843f254bafe5c
