%h1 Details about  #{@user.name}


%div
	-if is_admin?
		Admin:
		= @user.is_admin

= image_tag avatar_url(@user)

%div
Email:
= @user.email

%div
Public Name:
= @user.public_name

%div
School:
= @user.school

%div
Year:
= @user.year

%div
Major:
= @user.major

%div
Github:
= @user.github

%div
	- if is_admin? or is_user?
		= link_to "Edit Profile", edit_user_path, :class => "button"
		= link_to t('.back', :default => t("helpers.links.back")), '/users', :class => 'button secondary'
	  
