%h1 Details about  #{@user.name}

%div
	- if is_admin? or is_user?
		Email:
		= @user.email
%div
	-if is_admin?
		Admin:
		= @user.is_admin

.form-actions
	- if is_admin? or is_user?
		= link_to "Edit Your Profile", edit_user_path, :class => "btn btn-primary"
	= link_to t('.back', :default => t("helpers.links.back")), '/users', :class => 'btn'