.row
  .span6.offset0
    = form_for(@calapp) do |f|
      = render 'shared/error_messages'

= form_for @calapp do |f|
  %fieldset
    %legend Edit Existing CalApp
    = f.label :name, 'Name of Application'
    = f.text_field :name

    = f.label :URL, "Application URL"
    = f.url_field :URL

    = f.label :creator, "Creator(s)"
    = f.text_field :creator

    = f.label :created_location, "Event created"
    = f.text_field :created_location

    = f.label :category, "Category"
    = f.select :category, [['Academic','Academic'],['Career','Career'],['Collaboration','Collaboration'], ["Commerce", "Commerce"],["Food", "Food"], ["Health", "Health"],["Miscellaneous", "Miscellaneous"], ["Multipurpose", "Multipurpose"], ["Mobile", "Mobile"]], :include_blank => true

    = f.label :description, "Description"
    = f.text_area :description

    = f.label :tag_list, "Tags (separate by commas)"
    = f.text_field :tag_list

    -if is_admin?
      = f.label :user_email, "Owner email"
      = f.text_field :user_email

  = link_to 'Back to App Details', calapp_path(@calapp), :class => "button secondary"
  = link_to 'Back to App List', calapps_path, :class => "button secondary"
  = f.submit 'Update', :class => "button success"
