= form_for(@calapp) do |f|
  = render 'shared/error_messages'

/ .container
/   - if flash[:error]
/     .alert.alert-error
/       The form contains #{pluralize(@calapp.errors.count, "error")}.
/     %ul
/       - @calapp.errors.full_messages.each do |msg|
/         %li
/           #{msg}

= form_for @calapp do |f|
  %fieldset
    %legend Edit Existing CalApp
    = f.label :name, 'Name of Application'
    = f.text_field :name

    = f.label :image, "Upload Thumbnail"
    = f.file_field :image

    %h3 Upload Screenshots
    = f.label :screenshot1, "Upload Screenshot"
    = f.file_field :screenshot1

    = f.label :screenshot2, "Upload Screenshot"
    = f.file_field :screenshot2

    = f.label :screenshot3, "Upload Screenshot"
    = f.file_field :screenshot3

    = f.label :screenshot4, "Upload Screenshot"
    = f.file_field :screenshot4

    = f.label :screenshot5, "Upload Screenshot"
    = f.file_field :screenshot5

    = f.label :URL, "Application URL"
    = f.url_field :URL

    = f.label :creator, "Creator(s)"
    = f.text_field :creator

    = f.label :created_location, "Event created"
    = f.text_field :created_location

    = f.label :category, "Category"
    = f.select :category, @categories, :include_blank => true

    = f.label :description, "Description"
    = f.text_area :description

    = f.label :tag_list, "Tags (separate by commas)"
    = f.text_field :tag_list

    -if is_admin?
      = f.label :user_email, "Owner email"
      = f.text_field :user_email

      = f.label :approved, "Approved?"
      = f.select :approved, {"Yes" => true, "No" => false}

      = f.label :archived, "Archive"
      = f.select :archived, {"Yes" => true, "No" => false}

  = link_to 'Back to App Details', calapp_path(@calapp), :class => "button secondary"
  = link_to 'Back to App List', calapps_path, :class => "button secondary"
  = f.submit 'Update', :class => "button success"
