%h1 Edit Existing CalApp

= form_tag calapp_path(@calapp), :method => :put do

  = label :calapp, :name, 'Name of Application'
  = text_field :calapp, 'name'

  = label :calapp, :URL, "Application URL"
  = url_field :calapp, 'URL'

  = label :calapp, :creator, "Creator(s)"
  = text_field :calapp, 'creator'

  = label :calapp, :creator, "Description"
  = text_area :calapp, 'description'

  = label :calapp, :tag_list, "Tags (separate by commas)"
  = text_field :calapp, 'tag_list'

  .form-actions
    = submit_tag 'Update', :class => "btn btn-primary"
    = link_to 'Back to App Details', calapp_path(@calapp), :class => "btn"
    = link_to 'Back to App List', calapps_path, :class => "btn"
