%h1 Gallery Gridview

= link_to "Switch View", "/calapps", :class => "button small"

%ul.small-block-grid-4
  - @calapps.each do |calapp|
    %li
      =link_to calapp_path(calapp), :class => "th" do
        = image_tag thumbnail_url(calapp)
        .caption
          %h3= calapp.name
          %p
            %em= calapp.creator
          %p#details= truncate(calapp.description, :length => 120, :separator => ' ')

-if signed_in?
  = link_to "Add an Application", new_calapp_path, :class => 'button'