%h1 Gallery Gridview
%a.button.dropdown.small{:href=>"#", :data=>{:dropdown=>"drop"}} Actions
%ul#drop.f-dropdown{:data=>{"dropdown-content".to_sym=>true}}
  %li= link_to "List View", "/calapps"
  %li= link_to "Alphabetized View", "/list"
  -if signed_in?
    %li= link_to "Add an Application", new_calapp_path

%ul.small-block-grid-4
  - @calapps.each do |calapp|
    %li
      =link_to calapp_path(calapp), :class => "th" do
        = image_tag thumbnail_url(calapp)
        .caption
          %h3= calapp.name
          %p
            %em= calapp.creator

%p 
  =link_to "Academic", '/category/Academic'
%p  
  =link_to "Career", '/category/Career'
