#is-admin{"data-is-admin" => "#{is_admin?}"}

#container.gallery
  .content
    = render partial: 'left_column'
    .right-column-container.column.gallery
      .header
        .btn-group#toolbar
          %a.btn.btn-default#card-view-link{:href => "#card-view", "data-toggle" => "tab"}
            %i.fa.fa-th-large
          %a.btn.btn-default#list-view-link{:href => "#list-view", "data-toggle" => "tab"}
            %i.fa.fa-list
        - if is_admin?
          = render "settings"
        - if signed_in?
          = link_to 'Add App', new_calapp_path(), :class => "btn btn-primary add-calapp"

      #calapp-cards.tab-content
        - if @calapps.length > 0
          - if @home
            .tab-pane#card-view
              - @categories.each do |category|
                - if @calapp.top_four(category)
                  .category-row
                    %fieldset
                      %legend #{category}
                      - @calapp.top_four(category).each do |calapp|
                        = render partial: 'square_calapp_card', locals: {calapp: calapp}
            .tab-pane#list-view
              - @categories.each do |category|
                - if @calapp.top_four(category)
                  - @calapp.top_four(category).each do |calapp|
                    = render partial: 'list_calapp_card', locals: {calapp: calapp}
          - else
            .tab-pane#card-view
              - @calapps.each do |calapp|
                = render partial: 'square_calapp_card', locals: {calapp: calapp}
            .tab-pane#list-view
              - @calapps.each do |calapp|
                = render partial: 'list_calapp_card', locals: {calapp: calapp}

        - else
          = render partial: 'no_results'
