-#  This file is app/views/movies/index.html.haml
%h1 Cal Applications

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= "Name"
      %th= "Creator(s)"
      %th= "Description"
      %th= "More Information"
  %tbody
    - @calapps.each do |calapp|
      %tr
        %td= link_to "#{calapp.name}", calapp.URL
        %td= calapp.creator
        %td= calapp.description
        %td
          = link_to "More Details", calapp_path(calapp), :class => 'btn btn-mini btn-info'

= link_to t('.new', :default => t("helpers.links.new")), new_calapp_path, :class => 'btn btn-primary'