-#  This file is app/views/calapps/index.html.haml
%table.table.table-striped.table-hover
  %thead
    %tr
      %th{:class => @name_header}= link_to "Name", calapps_path(:sort => "name"), :id => "name_header"
      %th{:class => @creator_header}= link_to "Creator(s)", calapps_path(:sort => "creator"), :id => "creator_header"
      %th= "Description"
      %th= "More Information"
  %tbody
    - @calapps.each do |calapp|
      %tr
        %td= link_to "#{calapp.name}", calapp.URL
        %td= calapp.creator
        %td= calapp.description
        %td= link_to "More Details", calapp_path(calapp), :class => 'btn btn-mini btn-info'

-if signed_in?
  %p= link_to new_calapps_path
