-#  This file is app/views/calapps/index.html.haml
%h1 Gallery Listview
= link_to "Switch View", "/gallery"
%table
  %thead
    %tr
      %th{:class => @name_header}= link_to "Name", calapps_path(:sort => "name"), :id => "name_header"
      %th{:class => @creator_header}= link_to "Creator(s)", calapps_path(:sort => "creator"), :id => "creator_header"
      %th= "Description"
      %th{:class => @updated_header}= link_to "Updated At", calapps_path(:sort => "updated_at"), :id => "updated_at"
      %th= "More Information"
  %tbody
    - @calapps.each do |calapp|
      %tr
        %td= link_to "#{calapp.name}", calapp.URL
        %td= calapp.creator
        %td= truncate(calapp.description, :length => 80, :separator => ' ')
        %td= calapp.updated_at.localtime
        %td= link_to "More Details", calapp_path(calapp), :class => 'button tiny'
-if signed_in?
  = link_to "Add an Application", new_calapp_path, :class => 'button'
