.container
  = render 'shared/error_messages'
       
  = form_for @calapp, :html => {:multipart => true} do |f|
    %fieldset
      %legend Add Application
      = f.label :name, 'Name of Application'
      = f.text_field :name

      = f.label :image, "Upload Thumbnail"
      = f.file_field :image

      %h3 Upload Screenshots
      = f.label :screenshot1, "Upload Screenshot"
      = f.file_field :screenshot1

      = f.label :screenshot2, "Upload Screenshot"
      = f.file_field :screenshot2

      = f.label :screenshot3, "Upload Screenshot"
      = f.file_field :screenshot3

      = f.label :screenshot4, "Upload Screenshot"
      = f.file_field :screenshot4

      = f.label :screenshot5, "Upload Screenshot"
      = f.file_field :screenshot5

      = f.label :URL, "Application URL"
      = f.url_field :URL

      = f.label :creator, "Creator(s)"
      = f.text_field :creator

      = f.label :created_location, "Event created"
      = f.text_field :created_location

      = f.label :category, "Category"
      = f.select :category, @categories, :include_blank => true

      = f.label :description, "Description"
      = f.text_area :description

      = f.label :news, "News & Updates"
      = f.text_area :news

      = f.label :tag_list, "Tags (separate by commas)"
      = f.text_field :tag_list
    = link_to 'Back', calapps_path, :class =>"btn btn-default"
    = f.submit 'Submit', :class => "btn btn-primary", :url => calapp_path(f)
