-# new.html.haml using partial
%h2 New App
= form_for @calapp do |new_app|
  / %h2.form-signin-heading Sign Up for an Account
  %div
    = new_app.label :name, 'Name (First, Last)'
    = new_app.text_field :name, :placeholder => "Oski Bear"
  %div
    = new_app.label :email, 'Email Address'
    = new_app.email_field :email, :placeholder => "oski@gmail.com"
  %div
    = new_app.label :password, 'Password (at least 8 characters)'
    = new_app.password_field :password, :placeholder => "Password"
  %div
    = new_app.label :password_confirmation, 'Confirm your password'
    = new_app.password_field :password_confirmation, :placeholder => "Password"
  %div
    = new_app.submit "Sign Up", class: "btn btn-primary"

