.container
  = render 'shared/error_messages'
       
  = form_for @calapp, :html => {:multipart => true} do |f|
    %fieldset
      %legend Add Application
      #name.form-group
        = f.label :name, 'Name of Application', :class => "control-label reserve-label"
        .reserve-input
          = f.text_field :name

      #image.form-group
        = f.label :image, "Upload Thumbnail", :class => "control-label reserve-label"
        .reserve-input
          = f.file_field :image

      %h3 Upload Screenshots
      #screenshot1.form-group
        = f.label :screenshot1, "Upload Screenshot", :class => "control-label reserve-label"
        .reserve-input
          = f.file_field :screenshot1

      #screenshot2.form-group
        = f.label :screenshot2, "Upload Screenshot", :class => "control-label reserve-label"
        .reserve-input
          = f.file_field :screenshot2

      #screenshot3.form-group
        = f.label :screenshot3, "Upload Screenshot", :class => "control-label reserve-label"
        .reserve-input
          = f.file_field :screenshot3

      #screenshot4.form-group
        = f.label :screenshot4, "Upload Screenshot", :class => "control-label reserve-label"
        .reserve-input
          = f.file_field :screenshot4

      #screenshot5.form-group
        = f.label :screenshot5, "Upload Screenshot", :class => "control-label reserve-label"
        .reserve-input
          = f.file_field :screenshot5

      #url.form-group
        = f.label :URL, "Application URL", :class => "control-label reserve-label"
        .reserve-input
          = f.url_field :URL

      #creator.form-group
        = f.label :creator, "Creator(s)", :class => "control-label reserve-label"
        .reserve-input
          = f.text_field :creator

      #created.form-group
        = f.label :created_location, "Event created", :class => "control-label reserve-label"
        .reserve-input
          = f.text_field :created_location

      #category.form-group
        = f.label :category, "Category", :class => "control-label reserve-label"
        .reserve-input
          = f.select :category, @categories, :include_blank => true

      #description.form-group
        = f.label :description, "Description", :class => "control-label reserve-label"
        .reserve-input
          = f.text_area :description

      #news.form-group
        = f.label :news, "News & Updates", :class => "control-label reserve-label"
        .reserve-input
          = f.text_area :news

      #tags.form-group
        = f.label :tag_list, "Tags (separate by commas)", :class => "control-label reserve-label"
        .reserve-input
          = f.text_field :tag_list
    = link_to 'Back', calapps_path, :class =>"btn btn-default"
    = f.submit 'Submit', :class => "btn btn-primary", :url => calapp_path(f)
