%h1 Add a new Application

= form_tag calapps_path do

  = label :calapp, :name, 'Name of Application'
  = text_field :calapp, 'name'

  = label :calapp, :URL, "Application URL"
  = url_field :calapp, 'URL'

  = label :calapp, :creator, "Creator(s)"
  = text_field :calapp, 'creator'

  = label :calapp, :created_location, "Event created"
  = text_field :calapp, 'created_location'

  = label :calapp, :description, "Description"
  = text_area :calapp, 'description'

  = label :calapp, :tag_list, "Tags (separate by commas)"
  = text_field :calapp, 'tag_list'



  .form-actions
    = link_to 'Back', calapps_path, :class =>"btn"
    = submit_tag 'Save Changes', :class => "btn btn-primary"
