%h1 Add a new Application

= form_tag calapps_path do

  = label :calapp, :name, 'Name of Application'
  = text_field :calapp, 'name'

  = label :calapp, :URL, "Application URL"
  = url_field :calapp, 'URL'

  = label :calapp, :creator, "Creator(s)"
  = text_field :calapp, 'creator'

  = label :calapp, :description, "Description"
  = text_area :calapp, 'description'

  %p= submit_tag 'Save Changes'
  %p= link_to 'Back', calapps_path
