- if flash[:notice]
  .alert-box{:data=>{:alert => true}}
    #notice.message= flash[:notice]
    %a.close{:href => "#"} &times;
%br
%br
%br

%h1 #{@calapp.name}

= image_tag thumbnail_url(@calapp)

%fieldset
  %legend Information
  Created by
  = @calapp.creator
  %div
    = link_to @calapp.URL, @calapp.URL
  %hr
  Category:
  = @calapp.category
  - if @calapp.campus_approved
    %hr
    Campus Endorsed
    = image_tag "/assets/cal.jpeg", :height=> "30px", :width=>"30px"
%hr
%h4 Screenshots
%ul.clearing-thumbs{:data => {:clearing => true}}
  -if screenshot1_url(@calapp).present?
    %li
      = image_tag screenshot1_url(@calapp)
  -if screenshot2_url(@calapp).present?
    %li
      = image_tag screenshot2_url(@calapp)
  -if screenshot3_url(@calapp).present?
    %li
      = image_tag screenshot3_url(@calapp)
  -if screenshot4_url(@calapp).present?
    %li
      = image_tag screenshot4_url(@calapp)
  -if screenshot5_url(@calapp).present?
    %li
      = image_tag screenshot5_url(@calapp)

%hr

%h4 Description
%div
  = @calapp.description
%hr

%h4 News & Updates
%div
  = @calapp.news
%hr

%div 
  %h4 Tags:
  - @calapp.tag_list.each do |t|
    %span.secondary.round.label
      = link_to t, calapps_path(:tag => t)

%hr

%div
  %h4 Reviews
  %ul.small-block-grid-4
    %li
      .panel.callout
        %h5="Average Rating:"
        - if @calapp.rating != 0
          %p= "%.1f" % @calapp.rating.to_s
        - else
          %p No Reviews Yet, Be the first!
  %ul.small-block-grid-3
    - @calapp.reviews.each do |t|
      %li
        .panel
          %p
            -if defined? t.user.name
              %span
                %b=t.user.name
                =" | "
                %i= t.updated_at.strftime("%b %-d, %Y")
            -else
              %span
                %b="Anonymous"
                =" | "
                %i= t.updated_at.strftime("%b %-d, %Y")
          %p
            -(1..t.review_rating).each do |i|
              %i.fi-star
          %p
            ='"'
            =t.review_text
            ='"'
          - if is_admin? 
            = link_to "Delete Review", calapp_review_path(@calapp,:user_id=> t.user.id), :method => "delete",  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'button alert'
          - elsif  Review.where(user_id: current_user.id, calapp_id: current_app).first
            = link_to "Delete My Review", calapp_review_path(@calapp), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'button alert'

-if signed_in? and (berkeley_user? or is_admin?) and not Review.where(user_id: current_user.id, calapp_id: current_app).first
  = link_to 'New Review', new_calapp_review_path(@calapp), :class => "button primary"
%hr

%ul.button-group
  = tweet_button(:text => "Check Out #{@calapp.name} #calapps!", :via => "", :count => "horizontal");

  = like_button(576067885779630)

  = pinit_button
  .g-plusone{"data-annotation".to_sym => "inline", "data-width".to_sym => "300"}

%hr
%div
  = link_to t('.back', :default => t("helpers.links.back")), calapps_path, :class => 'button secondary'
  - if is_admin? or is_owner?
    = link_to "Edit", edit_calapp_path(@calapp), :class => 'button'
    = link_to "Delete", calapp_path(@calapp), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'button alert'

:javascript
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();