-# in app/views/movies/show.html.haml

%h2 #{@calapp.name}

= image_tag thumbnail_url(@calapp)

%fieldset
  %legend Information
  Created by
  = @calapp.creator
  %div
    = link_to @calapp.URL, @calapp.URL
%hr
%h4 Screenshots:
%ul.clearing-thumbs{:data => {:clearing => true}}
  -if screenshot1_url(@calapp).present?
    %li
      = image_tag screenshot1_url(@calapp)
  -if screenshot2_url(@calapp).present?
    %li
      = image_tag screenshot2_url(@calapp)
  -if screenshot3_url(@calapp).present?
    %li
      = image_tag screenshot3_url(@calapp)
  -if screenshot4_url(@calapp).present?
    %li
      = image_tag screenshot4_url(@calapp)
  -if screenshot5_url(@calapp).present?
    %li
      = image_tag screenshot5_url(@calapp)

%hr

%h4 Description:
%div
  = @calapp.description
%hr
%div 
  %h4 Tags: 
  - @calapp.tag_list.each do |t|
    %span.secondary.round.label
      = link_to t, tag_path(t)
    /%span.secondary.round.label
    /= raw @calapp.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
%hr
%div
  Category:
  = @calapp.category
%hr

= link_to 'New Review', new_review_path, :class => "button secondary"

%ul.button-group
  = tweet_button(:text => "Check Out #{@calapp.name}!", :count => "horizontal");

  = like_button(576067885779630)

  = pinit_button
  .g-plusone{"data-annotation".to_sym => "inline", "data-width".to_sym => "300"}

%hr
%div
  = link_to t('.back', :default => t("helpers.links.back")), calapps_path, :class => 'button secondary'
  - if is_admin? or is_owner?
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_calapp_path(@calapp), :class => 'button'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), calapp_path(@calapp), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'button alert'
:javascript
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();