-# in app/views/movies/show.html.haml

%h2 #{@calapp.name}


%div
  Created by:
  = @calapp.creator
%div
  Application URL:
  = link_to @calapp.URL, @calapp.URL

%div
  Event created at:
  = @calapp.created_location

%h3 Description:
%div
  = @calapp.description

%div 
  Tags: 
  = raw @calapp.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), calapps_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_calapp_path(@calapp), :class => 'btn btn-primary'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), calapp_path(@calapp), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
