.container
  %h1 Contact Us
  %p Have a complaint or suggestion? Please fill out the form below and we'll get right back to you!
  = form_for @message, :url => contact_path do |form|
    %fieldset.fields
      %legend Contact Form
      #name.form-group
        = form.label :name, :class => "control-label reserve-label"
        .reserve-input
          = form.text_field :name
      #email.form-group
        = form.label :email, :class => "control-label reserve-label"
        .reserve-input
          = form.text_field :email
      #subject.form-group
        = form.label :subject, :class => "control-label reserve-label"
        .reserve-input
          = form.text_field :subject
      #body.form-group
        = form.label :body, :class => "control-label reserve-label"
        .reserve-input
          = form.text_area :body
    #submit
      = form.submit "Submit", :class => "btn btn-primary"