!!! 5
%html

  %head

    %title CalApps
    = favicon_link_tag '/favicon.ico'
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700,600"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    #main-menu.navbar

      .navbar-header
        %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        = link_to "/", :class => "home-link" do
          /=image_tag calapp logo
          %span.gallery-menu-text
            CalApps Gallery

      .navbar-collapse.collapse
        %ul{:class => "nav navbar-nav navbar-right main-navigation"}

          - if is_admin?
            %li{:class => "tab"}>
              = link_to users_path do
                %i{:class => "fa fa-user"}
                %p Users

          %li{:class => "tab"}>
            = link_to '/welcome/about' do
              %i{:class => "fa fa-info"}
              %p About

          %li{:class => "tab"}>
            = link_to '/contact' do
              %i{:class => "fa fa-envelope"}
              %p Contact

          - if signed_in?

            %li.dropdown-custom.tab.account
              %a
                %i.fa.fa-user
                %p
                  = current_user.email
                  %b.caret

              %ul.dropdown-menu
                %li
                  = link_to "Profile", @current_user
                %li
                  = link_to "Sign out", signout_path, :method => :delete

          - else
            %li{:class => "tab account"}>
              = link_to signup_path do
                %i{:class => "fa fa-user"}
                %p Sign up

            %li{:class => "tab account"}>
              = link_to signin_path do
                %i{:class => "fa fa-book"}
                %p Log In

    - flash.each do |name, msg|
      .flash
        - if not msg.nil?
          - if msg.is_a?(String)
            %div{:class => "alert alert-#{name == :notice ? "success" : "warning"}", :id => "flash"}
              %a.close{"data-dismiss" => "alert"} ×
              = content_tag :div, msg, :id => "flash_#{name}"

    #container
      = yield

